.app {
  height : 100vh;
  background-color: #fafafa;
}
.app-header-logo{
  width: 100px;
  flex: 0.7;
}
.app-header{
  position: sticky;
  top : 0;
  z-index: 1;
  object-fit: contain;
  background-color: white;
  border : 1px solid lightgray;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
  /* width: 100px; */

}
.auth-button{
  border : 1px solid red;
}

.all-posts{
  display: flex;
  flex-direction: column;
}

.header-buttons{
  display: flex;
  justify-content: space-around;
  flex: 0.3;

  @media screen and (max-width: 768px) {
    width: 100%;  
  }
}